<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    {% block meta %}
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Synapse demo template</title>
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://www.accorhotels.com/css-v1605/set/promotions-offers/index.css">
    <link rel="stylesheet" href="http://www.accorhotels.com/css-v1605/commun/footer_cr.css">

</head>

<body id="promoIndex" class="fr">
    <div class="mainContainer">
        <!-- Main top for a primary marketing message or call to action -->
        <header>
            {% block header %}{{ synapse_zone('header') }}{% endblock %}
        </header>
        <div class="contentContainer body-wrapper">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <div id="footer" class="footer-container">
                {% block footer %}
                    <div class="title">
                        <div class="title-container">
                            <div class="pull-right social">
                                {{ synapse_zone('footer_top') }}
                            </div>
                        </div>
                    </div>
                    <div class="links container-fluid">
                        {{ synapse_zone('footer_content') }}
                    </div>
                    <div class="links container-fluid second_menu">
                        {{ synapse_zone('footer_bottom') }}
                    </div>
                {% endblock %}
            </div>
        </footer>
    </div>

</body>
</html>
